.ZoomCamera{
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 46px;
}

#cameraBox{
    height: 360px;
    width: auto;
}


.showCamera .ZoomCamera {
    display: block;
}


/*Temporary
background: none;
*/
#developer-overlay-semi-transparent-cover{
}

.controls{
    display: none;
}