.ZoomCamera{
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 18%;
}

.showCamera .ZoomCamera {
    display: block
}

/*Temporary*/
#developer-overlay-semi-transparent-cover{
    background: none;
}

.controls{
    display: none;
}